* {
    margin: 0;
    padding: 0; 
}


.header-img {
    position: absolute;
    background: #333 url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;
}

.text-container {
    color: white; 
    text-align: center; 
    margin: 0 auto; 
    padding: 7em; 
}
.text-container h3 {
    margin-top: 25px; 
}

.text-container .button {
    margin-top: 25px; 
}

.button {
    border: 1px white solid;
    padding: 25px;
    background-color: #222222; 
    color: white;
    text-decoration: none; 
    display: block; 
    width: 125px; 
    margin: 0 auto; 
}

/* main content now */ 
.main-content-head h1 {
    text-align: center; 
    color: #222222; 
    margin-top: 50px; 
    
}

.main-content-head {
    width: 100%; 
    height: 300px; 
    
}
.grid1 {
    display: grid; 
    grid-template-columns: 50% 50%; 
    
}

.grid-item1 {
    margin-top: 10%; 
    margin-left: 20%;  
    margin-right: 10%;
    font-size: 1.2em;
    
}

.grid-item2 {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 10%;
    font-size: 1.2em;
    height: auto; 
}

body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}




.grid2 {
    background-color: #333333;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 3%;
    padding: 5%;
    
}

.grid-item {
    height: 600px; 
    background-color: white; 
    text-align: center; 
    max-width: 1fr;
}

.grid-item p {
    font-size: 1.1em;
    margin-top: 25px; 
    height: 200px; 
    line-height: 2em;
    margin-left: 2%;
    margin-right: 2%;
}

.grid-img {
    margin: 0;
    width: 100%; 
    height: auto; 
    margin-bottom: 50px; 
}

.section-3 {
    margin-top: 50px; 
    text-align: center; 
    color: #222222;
}

.section-3 p {
    margin-top: 50px; 
    margin-bottom: 50px;
}

.grid3 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    color: white; 
}

.grid-blue {
    text-align: center; 
    background-color: #45b6fe;
    height: 400px; 
}

.grid-black {
    text-align: center;
    background-color: #333333;
    height: 400px; 
}

.grid-blue h2 {
    margin-top: 75px; 
    margin-bottom: 50px; 
}

.grid-black h2 {
    margin-top: 75px;
    margin-bottom: 50px; 
}

.grid-blue p {
    margin-left: 25px;
    margin-right: 25px; 
    font-size: 1.1em;
}

.grid-black p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.1em;
}

.footer-grid {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px; 
    font-size: 1.1em;

}

.footer-item {
    text-align: center;
}

.footer-item2 {
    text-align: center;

}

.footer-item2 a {
    text-decoration: none; 
}